* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

.header {
  background-color: #000;
  padding: 20px;
}

form input:not([type="checkbox"]), form textarea, form button {
  width: 100%;
  padding: 15px 5%;
  margin-bottom: 10px;
  border: 0;
  background-color: #222;
  color: #fff;
  outline: none;
  font-size: 15px;
}

form input[type="checkbox"] {
  margin: 10px;
}

form button {
  width: 100%;
  cursor: pointer;
  transition: transform 500ms ease;
}

form button:hover {
  transform: scale(1.1);
}

.item form {
  margin-top: 20px;
}

.item form input,
.item form textarea,
.item form button {
  background-color: #134b57;
}

.item form button:hover {
  transform: scale(1.01);
}