* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

.header {
  background-color: #000;
  padding: 20px;
}

main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

main .item {
  margin-bottom: 50px;
  background-color: #3e8fa0;
  padding: 20px;
}